:root {
    --color-red-500: oklch(63.7% .237 25.331);
    --color-yellow-400: oklch(85.2% .199 91.936);
    --color-blue-50: oklch(97% .014 254.604);
    --color-blue-100: oklch(93.2% .032 255.585);
    --color-blue-200: oklch(88.2% .059 254.128);
    --color-blue-600: #155dfb;
    --color-blue-700: oklch(48.8% .243 264.376);
    --color-purple-200: oklch(90.2% .063 306.703);
    --color-pink-500: oklch(65.6% .241 354.308);
    --color-gray-50: oklch(98.5% .002 247.839);
    --color-gray-100: oklch(96.7% .003 264.542);
    --color-gray-200: oklch(92.8% .006 264.531);
    --color-gray-400: oklch(70.7% .022 261.325);
    --color-gray-500: oklch(55.1% .027 264.364);
    --color-gray-600: oklch(44.6% .03 256.802);
    --color-gray-700: oklch(37.3% .034 259.733);
    --color-gray-800: oklch(27.8% .033 256.848);
    --color-gray-900: oklch(21% .034 264.665);
    --color-black: #000;
    --color-white: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', 'Arial', sans-serif;
}

.container {
    max-width: 1280px;
    width: 100%;
    padding: 0;
    margin: 0 auto;
}


/* SITE HEADER */

.site-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    background-color: var(--color-white);
    box-sizing: border-box;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.08);
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
    transition: box-shadow 0.3s ease;
}

.site-header.site-header--open {
    box-shadow: none; 
}

.site-header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    height: 80px;
    padding: 0;
}
.site-header__logo {
    display: flex;
    align-items: center;
}
.site-header__logo p {
    margin: 0 0 0 10px;
    font-size: 14px;
    color: var(--color-gray-600);
}

.site-header__nav--active {
    display: block;
}

.nav__link {
    font-size: 16px;
    text-decoration: none;
    color: var(--color-gray-700);
}
.nav__link:not(:last-child) {
    margin-right: 20px;
}

.site-header__btn-wrapper {
    display: flex; 
    align-items: center;
}

.site-header__contact {
    display: flex;
    max-width: 150px;
    width: 100%;
    padding: 12px 15px;
    text-align: center;
    align-items: center;
    border: 0;
    border-radius: 10px;
    white-space: nowrap;
    background-color: var(--color-blue-600);
}
.site-header__btn {
    display: flex;
    align-items: center;
    gap: 8px;
    justify-content: center;
    color: var(--color-white);
    text-decoration: none;
}

.site-header__toggler {
    display: none;
    margin-left: 15px;
    border: 0;
    background-color: transparent;
    cursor: pointer;
}

.site-header__hidden-box {
    position: absolute;
    display: none;
    top: 81px;
    left: 0;
    right: 0;
    width: 100vw;
    height: 250px;
    background-color: var(--color-white);
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.08);
}
.site-header__hidden-box--active {
    display: block;
}


/* HERO */

.hero {
    width: 100%;
    padding-top: 130px;
    padding-bottom: 55px;
    box-sizing: border-box;
    background-color: var(--color-blue-50);
}

.hero__container {
    display: flex;
    align-items: center;
    padding: 0 15px;
}
.hero__info {
    margin-right: 110px;
    max-width: 584px;
}
.hero__title {
    font-size: 60px;
    font-weight: bold;
}
.hero__sub-title {
    margin-top: 32px;
    margin-bottom: 32px;
    font-size: 20px;
    font-weight: 460;
    color: var(--color-gray-600);
}
.hero__description {
    margin-bottom: 32px;
    line-height: 1.6;
    font-size: 16px;
    font-weight: 400;
    color: var(--color-gray-700);
}
.hero__buttons {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.hero__btn-consultation {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 310px;
    width: 100%;
    height: 60px;
    margin-right: 30px;
    padding: 16px 32px;
    gap: 8px;
    border: 0;
    border-radius: 10px;
    color: var(--color-white);
    background-color: var(--color-blue-600);
}
.hero__btn-telegram {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 250px;
    width: 100%;
    height: 60px;
    padding: 16px 32px;
    gap: 8px;
    border-radius: 10px;
    border: 2px solid var(--color-blue-600);
    color: var(--color-blue-600);
    background-color: transparent;
}
.hero__image-box {
    width: 100%;
    max-width: 584px;
    height: 584px;
    border-radius: 20px;
    background-image: url('img/EMU.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}



/*  SERVICES SECTION */
.services {
    padding: 80px 0;
}
.services__container {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0 32px;
}
.services__title {
    margin-bottom: 16px;
    font-size: 48px;
    color: var(--color-gray-900);
}
.services__sub-title {
    text-align: center;
    font-size: 20px;
    color: var(--color-gray-600);
}
.services__list {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: flex-start;
    gap: 30px;
    margin-top: 64px;
    width: 100%;
}
.services__item {
    flex: 0 1 350px;
    max-width: 382px;
    height: 384px;
    margin-bottom: 35px;
    z-index: 2;
    border-radius: 16px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.05); 
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.service {
    position: relative;
}
.service__image-box {
    width: 100%;
    height: 192px;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    background-image: url('img/service-1.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.service__image-box-1 {
    background-image: url('img/service-2.jpg');
}
.service__image-box-2 {
    background-image: url('img/service-3.jpg');
}
.service__image-box-3 {
    background-image: url('img/service-4.jpg');
}
.service__image-box-4 {
    background-image: url('img/service-5.jpg');
}

.service__icon {
    position: absolute;
    top: 134px;
    left: 10px;
    width: 48px;
    height: 48px;
    padding: 12px;
    border-radius: 10px;
    background-color: var(--color-white);
}
.service__item-info {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 24px;
}
.service__title {
    margin-bottom: 12px;
    font-size: 20px;
    font-weight: 600;
    color: var(--color-gray-900);
}
.service__description {
    font-size: 16px;
    line-height: 1.5;
    color: var(--color-gray-600);
}











@media (max-width: 1200px) {
    .site-header {
        padding: 0 10px;
    }
    .hero__container {
        flex-wrap: wrap;
    }
    .hero__title {
        font-size: 48px;
    }
    .hero__sub-title {
        font-size: 24px;
    }
    .hero__description {
        font-size: 20px;
    }
    .hero__info {
        margin-right: 0;
        margin-bottom: 60px;
    }
    .hero__image-box {
        background-size: 120%;
        background-position: left center;
    }
    .hero__info, .hero__image-box {
        max-width: 100%;
        width: 100vw;
    }

    .services__list {
        gap: 20px;
    }

    .services__item {
        flex: 0 1 calc(50% - 10px);
        max-width: 100%; 
        height: auto;
        min-height: 0;
    }
    .service__image-box {
        width: 100%;
    }
}


@media (max-width: 1124px) {
    .site-header {
        padding: 0 20px;
    }
    .site-header__nav {
        display: none;
        position: absolute;
        top: 80px;
        left: 0;
        width: 100%;
        flex-direction: column;
        text-align: left;
        padding: 20px 0;
        z-index: 99;
    }
    /* Когда меню открыто (добавляем эти стили) */
    .site-header--open .site-header__hidden-box {
        display: block;
    }

    .site-header--open .site-header__nav {
        display: flex;
    }

    .nav__link {
        margin: 8px; /* Убираем боковые отступы, ставим вертикальные */
        color: var(--color-black); /* Цвет ссылок на синем фоне */
        font-size: 16px;
    }

    .site-header__toggler {
        display: block;
        margin-left: 15px;
    }
}


@media (max-width: 900px) {
    .hero__image-box {
        background-size: cover;
        background-position: center center;
    }
}


@media (max-width: 768px) {
    .services__item {
        /* На мобильных устройствах — одна карточка в ряд */
        flex: 1 1 100%;
    }
}


@media (max-width: 640px) {
    .site-header__contact {
        display: none;
    }
    .hero__buttons {
        justify-content: flex-start;
        flex-direction: column;
    }
    .hero__btn-consultation {
        margin-right: 0;
        margin-bottom: 15px;
    }

    .hero__btn-consultation, .hero__btn-telegram {
        max-width: 100%;
    }
    .hero__image-box {
        display: none;
    }

    .services__item {
        min-height: auto; /* На телефонах карточка будет ровно по размеру контента */
    }
    .service__image-box {
        height: 160px;    /* Немного уменьшим картинку, чтобы текст был выше */
    }
}

@media (max-width: 430px) {
    .hero__title {
        font-size: 28px !important;
    }
    .hero__sub-title {
        font-size: 20px;
    }
    .hero__description {
        font-size: 16px;
    }
}