:root {
    --color-red-500: oklch(63.7% .237 25.331);
    --color-yellow-400: oklch(85.2% .199 91.936);
    --color-blue-50: oklch(97% .014 254.604);
    --color-blue-100: oklch(93.2% .032 255.585);
    --color-blue-200: oklch(88.2% .059 254.128);
    --color-blue-600: oklch(54.6% .245 262.881);
    --color-blue-700: oklch(48.8% .243 264.376);
    --color-purple-200: oklch(90.2% .063 306.703);
    --color-pink-500: oklch(65.6% .241 354.308);
    --color-gray-50: oklch(98.5% .002 247.839);
    --color-gray-100: oklch(96.7% .003 264.542);
    --color-gray-200: oklch(92.8% .006 264.531);
    --color-gray-400: oklch(70.7% .022 261.325);
    --color-gray-500: oklch(55.1% .027 264.364);
    --color-gray-600: oklch(44.6% .03 256.802);
    --color-gray-700: oklch(37.3% .034 259.733);
    --color-gray-800: oklch(27.8% .033 256.848);
    --color-gray-900: oklch(21% .034 264.665);
    --color-black: #000;
    --color-white: #fff;
}

body {
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif serif;
}

.container {
    max-width: 1280px;
    width: 100%;
    padding: 0 12px;
    margin: 0 auto;
}



.site-header {
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.08);
}
.site-header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
}
.site-header__logo {
    display: flex;
    align-items: center;
}
.site-header__logo p {
    margin: 0 0 0 10px;
    font-size: 14px;
    color: var(--color-gray-600);
}
.site-header__nav {
}
.nav {
}
.nav__link {
    font-size: 16px;
    text-decoration: none;
    color: var(--color-gray-700);
}
.nav__link:not(:last-child) {
    margin-right: 20px;
}
.site-header__contact {
    width: 150px;
    height: 48px;
    padding: 10px 15px;
    text-align: center;
    align-items: center;
    border-radius: 10px;
    background-color: var(--color-blue-600);
}
.site-header__btn {
    color: var(--color-white);
    text-decoration: none;
}