:root {
    --color-red-500: oklch(63.7% .237 25.331);
    --color-yellow-400: oklch(85.2% .199 91.936);
    --color-blue-50: oklch(97% .014 254.604);
    --color-blue-100: oklch(93.2% .032 255.585);
    --color-blue-200: oklch(88.2% .059 254.128);
    --color-blue-600: oklch(54.6% .245 262.881);
    --color-blue-700: oklch(48.8% .243 264.376);
    --color-purple-200: oklch(90.2% .063 306.703);
    --color-pink-500: oklch(65.6% .241 354.308);
    --color-gray-50: oklch(98.5% .002 247.839);
    --color-gray-100: oklch(96.7% .003 264.542);
    --color-gray-200: oklch(92.8% .006 264.531);
    --color-gray-400: oklch(70.7% .022 261.325);
    --color-gray-500: oklch(55.1% .027 264.364);
    --color-gray-600: oklch(44.6% .03 256.802);
    --color-gray-700: oklch(37.3% .034 259.733);
    --color-gray-800: oklch(27.8% .033 256.848);
    --color-gray-900: oklch(21% .034 264.665);
    --color-black: #000;
    --color-white: #fff;
}

body {
    font-family: 'Roboto', 'Arial', sans-serif;
}

.container {
    max-width: 1200px;
    width: 100%;
    padding: 0 12px;
    margin: 0 auto;
}



.site-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    /* z-index: 100; */
    background-color: var(--color-white);
    box-sizing: border-box;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.08);
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
    transition: box-shadow 0.3s ease;
}

.site-header.site-header--open {
    box-shadow: none; 
}

.site-header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    height: 80px;
    padding: 0;
}
.site-header__logo {
    display: flex;
    align-items: center;
}
.site-header__logo p {
    margin: 0 0 0 10px;
    font-size: 14px;
    color: var(--color-gray-600);
}

.site-header__nav--active {
    display: block;
}

.nav__link {
    font-size: 16px;
    text-decoration: none;
    color: var(--color-gray-700);
}
.nav__link:not(:last-child) {
    margin-right: 20px;
}

.site-header__btn-wrapper {
    display: flex; 
    align-items: center;
}

.site-header__contact {
    display: flex;
    max-width: 150px;
    width: 100%;
    height: 28px;
    padding: 12px 15px;
    text-align: center;
    align-items: center;
    border-radius: 10px;
    white-space: nowrap;
    background-color: var(--color-blue-600);
}
.site-header__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-white);
    text-decoration: none;
}
.site-header__toggler {
    display: none;
    border: 0;
    background-color: transparent;
    cursor: pointer;
}

.site-header__hidden-box {
    position: absolute;
    display: none;
    top: 81px;
    left: 0;
    right: 0;
    width: 100vw;
    height: 250px;
    background-color: var(--color-white);
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.08);
}
.site-header__hidden-box--active {
    display: block;
}








@media (max-width: 1200px) {
    .site-header {
        padding: 0 10px;
    }
}



@media (max-width: 1024px) {
    .site-header {
        padding: 0 25px;
    }
    .site-header__nav {
        display: none;
        position: absolute;
        top: 80px;
        left: 0;
        width: 100%;
        flex-direction: column;
        text-align: left;
        padding: 20px 0;
        z-index: 99;
    }
    /* Когда меню открыто (добавляем эти стили) */
    .site-header--open .site-header__hidden-box {
        display: block;
    }

    .site-header--open .site-header__nav {
        display: flex;
    }

    .nav__link {
        margin: 8px; /* Убираем боковые отступы, ставим вертикальные */
        color: var(--color-black); /* Цвет ссылок на синем фоне */
        font-size: 16px;
    }

    .site-header__toggler {
        display: block;
        margin-left: 15px;
    }
}



@media (max-width: 640px) {
    .site-header__contact {
        display: none;
    }
}